/*ADJUST IMAGES TO BACKGROUND*/
#page-home{
	background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
 	-o-background-size: cover;
  background-size: cover;
}

/*ADJUST IMAGE TO BACKGROUND*/
#page-about{
	background: 
  linear-gradient(rgba(255,255,255,0.4),
  rgba(255,255,255,0.4)),
  url(headertwo.jpg) 
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
 	-o-background-size: cover;
  background-size: cover;
}

/*ADJUST IMAGE TO BACKGROUND*/
#page-skills{
	background: url(headertree.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
 	-o-background-size: cover;
  background-size: cover;
}

/*MAIN STYLES FOR HEADERS AND PARAGRAPHS*/
h1 {
	font-size: 3rem;
	color: #3b5167;
}

p {
	font-size:1.15rem;
	color:#3b5167;
}

/*CONTACT ME BUTTON*/
.btn-primary {
  color: #fff;
  background-color: #3b5167;
  border-color: #3b5167;
}
.btn-primary:hover {
	border-width: 2px;
}

/*NAV BAR STYLES*/
.navbar-nav {
	margin-left: 6.2rem;
}

#mainNav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 	font-weight: 700;
}

#mainNav .navbar-brand {
  font-size: 1.5rem;
  color: white;
}
#mainNav .navbar-nav {
  margin-top: 0.5rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: white;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #72A1C8;
}


/*CONTAINER STYLES*/
.place{
	display:flex;
	height:90vh;
}

.block {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.block .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.block .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.block .card img {
  width: 330px;
  height: 220px;
}

.block .card h4 {
  font-weight: 600;
}

.block .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.block .card a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}

.title {
  text-align: center;
  font-size: 2.5rem;
	color: #3b5167;
  margin-top: 100px;
}

/*MOBILE PORTRAIT*/
@media only screen and (max-width: 420px){
  #page-home {
    background: 
    linear-gradient(rgba(255,255,255,0.4),
    rgba(255,255,255,0.4)),
    url(sechome.jpg) 
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #page-about {
    background: 
    linear-gradient(rgba(255,255,255,0.4),
    rgba(255,255,255,0.4)),
    url(secabuot.jpg) 
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #page-skills {
    background: 
    linear-gradient(rgba(255,255,255,0.4),
    rgba(255,255,255,0.4)),
    url(secskills.jpg) 
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #mainNav .navbar-brand {
    font-size: 1rem;
    padding: 0;
  }

  /*HOME*/
  .hi {
    font-size: 1.8rem;
  }
  .name {
    font-size: 1.8rem;
  }
  .job {
    font-size: 1.8rem;
  }
  .description
  {
    margin-top: 0rem;
    margin-bottm: 1.5rem;
    font-size: 0.7rem;
  }

  /*ABOUT ME*/
  .nobr br {
    display: none;
  }
  .aboutme {
    margin-top: 2.5rem;
  }

  /*EXPERIENCE*/
  .skills-margin {
    margin-top: 4rem;
  }
}

/*MOBILE LANDSCAPE*/
@media only screen and (max-width: 900px){
  #page-home {
    background: 
    linear-gradient(rgba(255,255,255,0.4),
    rgba(255,255,255,0.4)),
    url(sechome.jpg) 
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #page-about {
    background: 
    linear-gradient(rgba(255,255,255,0.4),
    rgba(255,255,255,0.4)),
    url(secabout.jpg) 
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #page-skills {
    background: 
    linear-gradient(rgba(255,255,255,0.4),
    rgba(255,255,255,0.4)),
    url(secskills.jpg) 
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #mainNav .navbar-brand {
    font-size: 1rem;
    padding: 0;
  }
  /*HOME*/
  .hi {
    padding-top: 30px;
    font-size: 2rem;
  }
  .name {
    font-size: 2rem;
  }
  .job {
    font-size: 2rem;
  }
  .description
  {
    margin-top: 0rem;
    margin-bottm: 1.5rem;
    font-size: 1rem;
  }

  /*ABOUT ME*/
  .nobr br {
    display: none;
  }
  .aboutme {
    margin-top: 4rem;
  }

  /*EXPERIENCE*/
  .skills-margin {
    margin-top: 7rem;
  }
}

/*FOOTER ICONS*/
.container-icons > div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#btn-mas{
    display: none;
}
.container-icons{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.redes a, .icon-mas2{
    display: block;
    text-decoration: none;
    background: #2E90E2;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
}
.redes a:hover{
    background: #fff;
    color: #00437C;
}
.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.icon-mas2{
    cursor: pointer;
    background: #296598;
    font-size: 23px;
}
#btn-mas:checked ~ .btn-mas .icon-mas2{
    transform: rotate(137deg);
    font-size: 25px;
}


